<div class="flex flex-col items-center min-h-screen w-full bg-gray-100 text-gray-900">

  <div class="ml-96">
  <h1 class="text-4xl font-bold text-blue-900 mb-2 mt-4 text-center">{{ title }}</h1>
  <p class="text-lg mb-6 text-center">{{ description }}</p>

<app-hero></app-hero>

  <div class="mt-6 ">
    <h3 class="text-xl font-bold mb-2">Key Features</h3>
    <ul class="list-disc list-inside">
      <li>Track Workouts: Record your sets, reps, and weight lifted.</li>
      <li>Progress Overview: View your progress over time in a comprehensive chart or table.</li>
      <li>Nutrition Management: Monitor your meals, calorie intake, and macronutrient distribution.</li>
      <li>Customizable Settings: Personalize your notification preferences and measurement units.</li>
    </ul>
  </div>
</div>
<div class=" flex flex-col items-center ml-52 mt-8">
<img src="../../assets/images/Fitness-Goals.jpg" alt="Description of image" class="w-2/5 max-w-full h-auto rounded">
</div>
</div>
